<!DOCTYPE html>
<html ng-app="wine" ng-controller="addresslist">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<link rel="stylesheet" href="css/default.css" />
		<link rel="stylesheet" href="css/mui.min.css" />
		<title>选择收获地址</title>
		<link rel="stylesheet" href="addresslist.css" />
	</head>

	<body>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" href="address_control.html?oid={{oid}}">
				<span class="mui-tab-label">管理收货地址</span>
				<span class="line">|</span>
			</a>
			<a class="mui-tab-item" href="address_add.html?oid={{oid}}">
				<span class="mui-tab-label">新增收货地址</span>
			</a>
		</nav>
		<div class="clear"></div>
		<div class="mui-content">
			<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
				<li class="mui-table-view-cell" ng-repeat="row in addressList">
					<div class="mui-table">
						<div class="mui-table-cell mui-col-xs-10">
							<div><span ng-bind="row.name"></span><span class="rightSpan" ng-bind="row.tel"></span></div>
							<h4 class="address"><label ng-show="row.is_default">[默认地址]</label> <span ng-bind="row.address"></span></h4>
						</div>
						<div class="mui-table-cell mui-col-xs-2 mui-text-right" style="width: 20px; vertical-align:middle;">
							<img ng-show="row.is_selected" src="img/chooseSel.png" style="width: 18px; height: 18px;" ng-click="goTo()"/>
							<img ng-show="!row.is_selected" src="img/choose.png" style="width: 18px; height: 18px;" ng-click="selectedAddress(row)"/>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="com/global.js" ></script>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="addresslist.js"></script>

</html>