<!DOCTYPE html>
<html ng-app="wine" ng-controller="address_control">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<link rel="stylesheet" href="css/default.css" />
		<link rel="stylesheet" href="css/mui.min.css" />
		<title>管理收货地址</title>
		<link rel="stylesheet" href="address_control.css" />
	</head>

	<body>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" href="address_add.html">
				<span class="mui-tab-label">新增收货地址</span>
			</a>
		</nav>
		<div mui-content>
			<div class="topInterval" ng-repeat="row in addrestList">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div><span ng-bind="row.name"></span><span class="rightSpan" ng-bind="row.tel"></span></div>
						<div class="address" ng-bind="row.address"></div>
					</li>
					<li class="mui-table-view-cell">
						<div>
							<img ng-show="row.isDefault" src="img/chooseSel.png" />
							<img ng-show="!row.isDefault" src="img/choose.png" ng-click="defaultAddress(row)" />
							设为默认地址
							<button type="button" ng-click="delAddress(row)">删除</button>
							<button type="button" ng-click="pushEdit(row)">编辑</button>
						</div>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="com/global.js"></script>
	<script type="text/javascript" src="address_control.js"></script>
</html>