<!DOCTYPE html>
<html ng-app="wine" ng-controller="cart">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<link rel="stylesheet" href="css/default.css" />
		<title>购物车</title>
		<link rel="stylesheet" href="cart.css" />
	</head>

	<body>
		<div>
			<div class="headerCell">
				<div class="goBuyButton">
					<a href="goodslist.html"><span> < 继续购买 </span></a>
				</div>
				<div class="ad">放宣传语放宣传语放宣传语放宣传语放宣传语</div>
				<div class="clear"></div>
			</div>
			<div class="sectionSpace"></div>
		</div>

		<div class="emptyCart" ng-show="cartArray.length == 0">
			<img src="img/cart.png" />
			<div>你的购物车还没有商品哦</div>
			<div class="emptyCartButton">
				<a href="goodslist.html"><span>去挑选</span></a></div>
		</div>

		<div class="allCart" ng-show="cartArray.length > 0">
			<!--<div ng-click="edit()" style="padding: 10px; text-align: right;">编辑</div>-->
			<!-- 商品 -->
			<div ng-repeat="row in cartArray">
				<div class="cartCell">
					<table width="100%">
						<tr>
							<td rowspan="4" width="30px"><img src="img/choose.png" class="cartChooseButton" /></td>
							<td rowspan="4" width="80px" style="background-image: url({{row.imgurl}}); background-repeat: no-repeat; background-size: 100% 100%;"></td>
							<td>
								<div class="cartMiddleCell">
									<img src="img/del.png" />
									<div>
										<span ng-bind="row.title"></span>
									</div>
									<div class="clear"></div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="cartVintage">
									商品规格：<span ng-bind="row.volume"></span>／瓶
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="cartRightCell">
									<span class="cartPrice">¥<span ng-bind="row.price"></span></span>
									<div class="cartNum">
										<img src="img/minus.png" /> <span>2</span> <img src="img/plus.png" />
									</div>
									<div class="clear"></div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="sectionSpace"></div>
			</div>

			<div class="footerCell">
				<div>
					<table width="100%">
						<tr>
							<td rowspan="2" width="26px" class="footerChooseTd">
								<img src="img/choose.png" class="cartChooseButton" />
							</td>
							<td rowspan="2">全选</td>
							<td class="totalTd">合计：<span>¥450</span>&nbsp;</td>
							<td rowspan="2" class="accountTd">结算(1)</td>
						</tr>
						<tr>
							<td class="freight"><span>不含运费</span>&nbsp;</td>
						</tr>
					</table>
				</div>
				<!--<div style="height: 1px; background-color: #d5d5d5;"></div>
				<div style="float: left; padding: 15px 10px 0px 10px;">
					<img src="img/choose.png" style="width: 20px; height: 20px; z-index: 1; margin-top: 1px; position: absolute;" ng-click="addAllChoose()" />
					<img src="img/chooseSel.png" style="width: 20px; height: 20px; z-index: 2; margin-top: 1px; position: absolute;" ng-show="isAllChoose" ng-click="removeAllChoose()" />
					<span style="padding: 12px 0px 0px 30px; font-size: 14px; color: #9e0039">全选</span>
				</div>
				<div style="float: right; text-align: right; padding: 16px 10px 0px 0px;">
					<span style="color: #606060; font-size: 14px; vertical-align: top; padding-right: 5px;" ng-cloak>合计:{{allMoney}}元</span>
					<a href="#" ng-click="totalButton()"><img src="img/total.png" width="82px" height="36px" style="z-index: 2; margin-top: -7px;" /></a>
				</div>
				<div style="clear: both;"></div>-->
			</div>
		</div>

	</body>
	<script type="text/javascript" src="com/global.js" ></script>
	<script type="text/javascript" src="cart.js"></script>

</html>