.emptyCart {
	padding-top: 40%;
	text-align: center;
	color: #d5d5d5;
}

.emptyCartButton {
	padding-top: 20px;
	color: white;
}

.emptyCartButton span {
	padding: 5px 20px;
	background-color: red;
	border-radius: 5px;
}

.cartCell {
	background-color: white;
	padding: 10px;
}

.cartChooseButton {
	width: 24px;
	height: 24px;
}

.cartMiddleCell {
	padding-left: 10px;
	color: #404040;
}

.cartRightCell {
	padding-left: 10px;
	/*text-align: right;*/
}

.cartPrice {
	font-size: 16px;
	color: red;
}

.cartNum {
	float: right;
	color: black;
	font-size: 12px;
}

.cartVintage {
	padding-left: 10px;
	font-size: 12px;
	color: #909090;
}

.sectionSpace {
	height: 10px;
}