<!DOCTYPE html>
<html ng-app="wine" ng-controller="cart">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<link rel="stylesheet" href="css/default.css" />
		<link rel="stylesheet" href="css/mui.min.css" />
		<title>购物车</title>
		<link rel="stylesheet" href="cart.css" />
	</head>
	<body>
		<div>
			<div class="headerCell">
				<div class="goBuyButton">
					<a href="goodslist.html"><span> < 继续购买 </span></a>
				</div>
				<div class="ad">放宣传语放宣传语放宣传语放宣传语放宣传语</div>
				<div class="clear"></div>
			</div>
			<div class="sectionSpace"></div>
		</div>

		<div class="emptyCart" ng-show="cartArray.length == 0">
			<img src="img/cart.png" />
			<div>你的购物车还没有商品哦</div>
			<div class="emptyCartButton">
				<a href="goodslist.html"><span>去挑选</span></a></div>
		</div>

		<div class="allCart" ng-show="cartArray.length > 0">
			<!-- 商品 -->
			<div ng-repeat="row in cartArray">
				<div class="cartCell">
					<table width="100%">
						<tr>
							<td rowspan="4" width="30px">
								<img src="img/chooseSel.png" class="cartChooseButton" ng-show="row.isChoose" ng-click="removeChoose(row)"/>
								<img src="img/choose.png" class="cartChooseButton" ng-show="!row.isChoose" ng-click="addChoose(row)"/>
							</td>
							<td rowspan="4" width="120px">
								<img ng-src="{{row.image}}" style="width: 100%;"/>
							</td>
							<td>
								<div class="cartMiddleCell">
									<img src="img/del.png" ng-click="removeCart(row, $index)"/>
									<div>
										<span ng-bind="row.title"></span>
									</div>
									<div class="clear"></div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="cartVintage">
									商品规格：<span ng-bind="row.volume"></span>ml
								</div>
							</td>
						</tr>
						<tr>
							<td style="vertical-align: bottom; padding-bottom: 10px;">
								<div class="cartRightCell">
									<span class="cartPrice">¥<span ng-bind="row.price"></span></span>
									<div class="cartNum">
										<img src="img/minus.png" ng-click="minus(row)"/> <span ng-bind="row.count"></span> <img src="img/plus.png" ng-click="plus(row)"/>
									</div>
									<div class="clear"></div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="sectionSpace"></div>
			</div>

			<div class="footerCell">
				<div>
					<table width="100%">
						<tr>
							<td rowspan="2" width="26px" class="footerChooseTd">
								<img src="img/choose.png" class="cartChooseButton" ng-show="!isAllChoose" ng-click="addAllChoose()"/>
								<img src="img/chooseSel.png" class="cartChooseButton" ng-show="isAllChoose" ng-click="removeAllChoose()" />
							</td>
							<td rowspan="2">全选</td>
							<td class="totalTd">合计：<span>¥</span><span ng-bind="allMoney"></span>&nbsp;</td>
							<td rowspan="2" class="accountTd" ng-click="totalButton()">结算</td>
						</tr>
						<tr>
							<td class="freight"><span>不含运费</span>&nbsp;</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/mui.min.js" ></script>
	<script type="text/javascript" src="com/global.js" ></script>
	<script type="text/javascript" src="cart.js"></script>

</html>