
.bottom-bar {
	width: 100%;
	background-color: red;
	color: #FFFFFF;
	height: 30px;
	text-align: center;
	padding-top: 12px;
	font-size: 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;	
}
