<!DOCTYPE html>
<html ng-app="wine" ng-controller="detail">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<link rel="stylesheet" href="js/swiper-3.4.1/swiper.min.css" />
		<link rel="stylesheet" href="css/default.css" />
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<title>详情</title>
		<link rel="stylesheet" href="detail.css" />
	</head>
	<body>
		<!--底部tabbar-->
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" style="color: black; width: 20%;" href="tel:10086">
				<span class="mui-icon mui-icon-phone"></span>
				<span class="mui-tab-label">客服</span>
			</a>
			<a class="mui-tab-item" style="color: black; width: 20%;" href="cart.html">
				<span class="mui-icon iconfont icon-gouwuche"><span class="mui-badge" ng-show="cartProduct > 0" ng-bind="cartProduct"></span></span>
				<span class="mui-tab-label">购物车</span>
			</a>
			<a class="mui-tab-item" style="width: 60%; background-color: red; color: white;" href="#addCart">
				<span class="mui-tab-label">加入购物车</span>
			</a>
		</nav>
		<div class="mui-content">
			<div class="swiper-container swiper-container-horizontal">
				<div id="swiperwrapper" class="swiper-wrapper">
				</div>
				<div style="text-align:center" class="swiper-pagination"></div>
			</div>
			<div>
				<div class="titleSection">
					<span class="ziying">自营</span><span class="title"><span ng-bind="productInfo.title"></span> <span ng-bind="productInfo.volume"></span> <span ng-bind="productInfo.submessage"></span></span>
					<div class="ad"><span ng-bind="productInfo.description"></span></div>
					<div class="line"></div>
					<div class="priceNumCell">
						<span class="price">¥ <span ng-bind="productInfo.price"></span></span>
						<span class="orginPrice">
							<span> 实体店家：<del ng-bind="productInfo.origprice"></del></span>
						<span ng-if="productInfo.sales.length > 0">销量：<span ng-bind="productInfo.sales"></span></span>
						</span>
					</div>
					<div class="numCell"><span class="numDesc">购买数量：</span><img src="img/minus.png" ng-click="minsClick()"/><span class="num" ng-bind="defaultNum"></span><img src="img/plus.png" ng-click="plusClick()"/></div>
					<div>运费：<span ng-if="productInfo.freight_money > 0" ng-bind="productInfo.freight_money"></span><span ng-if="productInfo.freight_money == 0">免运费</span></div>
				</div>
				<div class="spaceSection"></div>
				<div class="activitySection">
					<div ng-show="productInfo.listc.length > 0">
						<div class="activityCell">领券&nbsp;&nbsp;&nbsp;
							<span class="activity-oneCell" ng-repeat="row in productInfo.listc">满399减30</span>
							<a class="right-button" href="coupon.html?id={{productInfo.id}}">...</a>
						</div>
						<div class="line"></div>
					</div>
					<div class="activityCell">积分&nbsp;&nbsp;&nbsp;<span class="activity-twoCell">购买可得<span class="integral" ng-bind="productInfo.point"></span>积分</span>
						<a class="right-button" href="detail_integral.html?id={{productInfo.id}}">...</a>
					</div>
					<div ng-if="productInfo.promotionList.length > 0">
						<div class="line"></div>
						<div class="activityCell">促销&nbsp;&nbsp;&nbsp;<span class="activity-thridCell" ng-repeat="row in productInfo.promotionList" ng-bind="row.name"></span>
							<a class="right-button" href="detail_promotion.html?id={{productInfo.id}}">...</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="spaceSection"></div>
				<div class="recommendSection" ng-show="commentList.length > 0">
					<div>用户评价（<span ng-bind="commentList.length"></span>）
						<!--<span class="rightNum">96%</span><span class="rightGood">好评度</span>-->
					</div>
					<!--<div class="commendCell">
						<div><span>味道不错（2）</span></div>
						<div><span>快递不错（2）</span></div>
						<div><span>包装精美（2）</span></div>
					</div>-->
					<div class="clear"></div>
					<div>
						<div class="commendCell_People"><img ng-src="{{commentList[0].user_avatar}}" /><span ng-bind="commentList[0].user_name"></span></div>
						<div ng-bind="commentList[0].title"></div>
						<div class="allCommend">
							<a href="commentlist.html?pid={{productId}}"><span class="allCommend_button">查看全部评价</span></a>
						</div>
					</div>
				</div>
				<div class="detailImage">
					<img ng-repeat="row in productInfo.desc_images" ng-src="{{row.url}}" />
				</div>
			</div>
		</div>
	</body>
	<script type="text/template" id="templateSwiper">
		<li class="swiper-slide">
			<img class="picture" style="vertical-align:top;" src="<%=obj.url%>" width="100%" />
		</li>
	</script>
	<script type="text/javascript" src="com/global.js"></script>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/swiper-3.4.1/swiper.min.js"></script>
	<script type="text/javascript" src="detail.js"></script>

</html>