<!DOCTYPE html>
<html ng-app="wine" ng-controller="goods">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<link rel="stylesheet" href="js/swiper-3.4.1/swiper.min.css" />
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<title>东方酒业官网</title>
		<link rel="stylesheet" href="goodslist.css" />
	</head>

	<body>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="#tabbar">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="cart.html">
				<span class="mui-icon iconfont icon-gouwuche"></span>
				<span class="mui-tab-label">购物车</span>
			</a>
			<a class="mui-tab-item" href="my.html">
				<span class="mui-icon iconfont icon-center"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
			<a class="mui-tab-item" href="my_qrcode.html">
				<span class="mui-icon iconfont icon-wodeerweima"></span>
				<span class="mui-tab-label">我的二维码</span>
			</a>
		</nav>
		<!--内容-->
		<div class="mui-content">
			<div class="swiper-container swiper-container-horizontal">
				<div id="swiperwrapper" class="swiper-wrapper">
				</div>
				<div style="text-align:center" class="swiper-pagination"></div>
			</div>
			<div ng-show="productList.length > 0">
				<div class="sectionTitle">
					<!--特色推荐-->
					<img src="img/home.png" width="100%" />
				</div>
				<div ng-repeat="row in productList">
					<div class="borderDiv" ng-show="row.invalid == 0">
						<a href="detail.html?id={{row.id}}">
							<div style="padding: 4%; background-color: white;">
								<table width="100%">
									<tr>
										<td rowspan="6" width="40%">
											<img ng-src="{{row.image}}" style="width: 100%;" />
										</td>
									</tr>
									<tr>
										<td class="title" ng-bind="row.title"></td>
									</tr>
									<tr>
										<td class="submessage" ng-bind="row.submessage"></td>
									</tr>
									<tr>
										<td class="submessage"><span ng-bind="row.volume"></span>ml</td>
									</tr>
									<tr>
										<td class="price"><span>¥</span><span ng-bind="row.price"></span></td>
									</tr>
									<tr>
										<td class="rightButton">
											<a href="">
												<button type="button" class="mui-btn mui-icon mui-icon-arrowright mui-right" ng-click="selectCell(row.id)">收入囊中</button>
											</a>
										</td>
									</tr>
								</table>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/template" id="templateSwiper">
		<li class="swiper-slide">
			<img class="picture" style="vertical-align:top;" src="<%=obj.imgurl%>" width="100%" />
		</li>
	</script>
	<script type="text/javascript" src="com/global.js"></script>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="js/swiper-3.4.1/swiper.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="goodslist.js"></script>

</html>