a {
	text-decoration: none;
	color: #606060;
}

.headView {
	background-image: url(img/back.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 25px;
}

.headView img {
	float: left;
	width: 75px;
	height: 75px;
	padding: 1px;
	background-color: white;
	border-radius: 100%;
	border: 2px solid;
	border-color: orange;
}

.headView span {
	float: left;
	color: white;
	font-size: 16px;
	padding-left: 10px;
	line-height: 75px;
}

.orderCellWithMiddle {
	/*width: 100%;*/
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: white;
	border: solid;
	border-width: 0px;
	border-bottom-color: #e3e3e3;
	border-bottom-width: 1px;
	font-size: 14px;
}

.orderRightCell {
	float: right;
}

.orderRightImage {
	width: 20px;
	height: 20px;
	vertical-align: top;
}

.orderRightCell span {
	font-size: 14px;
	color: red;
}

.orderRowImage {
	width: 15px;
	height: 15px;
} 

.sectionSpace {
	height: 10px;
}

/* 待付款，待发货，待收获，已完成*/
ul {
	list-style: none;
}

ul.imagelist {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

ul.imagelist div {
	float: left;
	width: 25%;
	text-align: center;
}

ul.imagelist li {
	float: left;
	width: 80%;
	padding-left: 20%;
}

ul.imagelist li a {
	
}

ul.imagelist li img {
	margin-left: 1px;
}

ul.imagelist li span {
	width: 100%;
	height: 20px;
	line-height: 20px;
}
