<!DOCTYPE html>
<html ng-app="wine" ng-controller="my">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<link rel="stylesheet" href="css/default.css" />
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<title>个人中心</title>
		<link rel="stylesheet" href="my.css" />
	</head>

	<body>

		<!--头部-->
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">东方酒业官网</h1>
		</header>
		<!--底部tabbar-->
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" href="goodslist.html">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="cart.html">
				<span class="mui-icon iconfont icon-gouwuche"><span class="mui-badge" ng-show="1 == 0"></span></span>
				<span class="mui-tab-label">购物车</span>
			</a>
			<div class="mui-tab-item mui-active">
				<span class="mui-icon iconfont icon-center"></span>
				<span class="mui-tab-label">个人中心</span>
			</div>
			<a class="mui-tab-item" href="my_qrcode.html">
				<span class="mui-icon iconfont icon-wodeerweima"></span>
				<span class="mui-tab-label">我的二维码</span>
			</a>
		</nav>
		<!--内容-->
		<div class="mui-content">
			<div class="headView">
				<img ng-src="{{mineInfo.avatar}}" />
				<span ng-bind="mineInfo.name"></span>
				<div class="clear"></div>
			</div>

			<div class="orderCellWithMiddle">
				<span>我的订单</span>
				<span class="orderRightCell">
					查看所有订单
					<img class="orderRightImage" src="img/arrow.png"/>
				</span>
				<div class="clear"></div>
			</div>

			<div class="orderCellWithMiddle" style="padding: 10px 0px;">
				<ul class="imagelist">
					<div ng-repeat="row in orderStatusArray">
						<li>
							<img ng-src="{{row.icon}}" />
							<p><span ng-bind="row.title"></span></p>
						</li>
					</div>
				</ul>
				<div class="clear"></div>
			</div>

			<div class="sectionSpace"></div>

			<!--<div class="orderCellWithMiddle" ng-repeat="row in dataArray">
				<span ng-bind="row.title"></span>
				<span class="orderRightCell">
					<span ng-show="row.hasRight" ng-bind=""></span>
					<img class="orderRightImage" src="img/arrow.png" />
				</span>
			</div>-->
			<div ng-repeat="row in sectionArray">
				<div class="orderCellWithMiddle" ng-repeat="rowModel in row" >
					<a href="{{rowModel.href}}">
					<span ng-bind="rowModel.title"></span>
					<span class="orderRightCell">
						<span ng-show="rowModel.hasRight" ng-bind="rowModel.desc"></span>
						<img class="orderRightImage" src="img/arrow.png" />
					</span>
					</a>
				</div>	
				<div class="sectionSpace"></div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="com/global.js"></script>
	<script type="text/javascript" src="my.js"></script>

</html>