/*商品金额，运费*/
.orderPriceCell {
	background-color: white;
	padding: 10px 5px;
	font-size: 14px;
}

.orderPriceCell .price {
	color: red;
	float: right;
}

.orderPriceCell .second {
	padding-top: 5px;
}

.orderPriceCell .second .weight {
	color: darkgray;
	font-size: 12px;
}

.address {
	font-size: 12px;
	color: black;
}

.borderDiv {
	border-color: #E0E0E0;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 8px;
	border-left-style: none;
	border-right-style: none;
}