/*商品金额，运费*/
.orderPriceCell {
	background-color: white;
	padding: 10px;
	font-size: 14px;
}

.orderPriceCell .price {
	color: red;
	float: right;
}

.orderPriceCell .second {
	padding-top: 5px;
}

.orderPriceCell .second .weight {
	color: darkgray;
	font-size: 12px;
}

.address {
	font-size: 12px;
	color: black;
}

.borderDiv {
	border-color: #E0E0E0;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 8px;
	border-left-style: none;
	border-right-style: none;
}

.orderCellWithMiddle {
	/*width: 100%;*/
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: white;
	border: solid;
	border-width: 0px;
	border-bottom-color: #e3e3e3;
	border-bottom-width: 1px;
	font-size: 14px;
}

.orderRightCell {
	float: right;
}

.red {
	color: red;
}

.gray {
	color: #999999;
}

.orderRightImage {
	width: 20px;
	height: 20px;
	vertical-align: top;
}

.couponCell {
	background-color: white; 
	padding: 10px; 
	font-size: 13px;
}

.couponCell .desc {
	padding-left: 5px; 
	vertical-align: middle;
}

