<!DOCTYPE html>
<html ng-app="wine" ng-controller="order_detail">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<link rel="stylesheet" href="css/default.css" />
		<title>订单详情</title>
		<link rel="stylesheet" href="order_detail.css" />
		<link rel="stylesheet" href="css/mui.min.css" />
	</head>

	<body>
		<!-- 订单编号 -->
		<div style="width: 100%; height: 30px; background-color: white;">
			<div class="order-num">订单编号：<span ng-bind="order.order_num"></span></div>
			<div class="order-state" ng-switch on="order.status">
				<span ng-switch-when="0">
					待支付
				</span>
				<span ng-switch-when="1">
					待发货
				</span>
				<span ng-switch-when="2">
					待收货
				</span>
				<span ng-switch-when="3">
					已完成
				</span>
				<span ng-switch-when="4">
					已取消
				</span>
			</div>
		</div>
		<!-- 收货人、收货地址 -->
		<div ng-show="order.address_id > 0" style="margin-top: 10px; width: 100%;  clear: both; background-color: white;">
			<div style="font-size: 13px; padding-top: 10px; padding-left: 10px;">收货人：<span ng-bind="order.addressInfo.name"></span></div>
			<div style="font-size: 13px; padding-top: 5px; padding-left: 10px;">手机号：<span ng-bind="order.addressInfo.tel"></span></div>
			<div style="font-size: 13px; padding: 10px; padding-top: 5px;">收货地址：<span ng-bind="order.addressInfo.province_city"></span><span ng-bind="order.addressInfo.address"></span></div>
		</div>
		<!-- 订单商品 -->
		<div style="width: 100%; margin-top: 10px; background-color: white;">
			<!-- cell -->
			<div style="width: 100%; height: 120px;" ng-repeat="orderDetail in order.orderDetails">
				<!-- 横线-->
				<div ng-show="$index != 0" style="height: 1px; background-color: #D5D5D5; clear: both; padding-top: 0px;"></div>
				<img src="{{orderDetail.productInfo.image}}" style="width: 100px; height: 100px; margin-top: 10px; margin-left: 10px; float: left;" />
				<div style="padding-left: 120px;">
					<div class="order-goodsname"><span ng-bind="orderDetail.productInfo.title"></span></div>
					<div style="font-size: 12px;  color: #808080; padding-top: 5px;">容量：<span ng-bind="orderDetail.productInfo.volume"></span>ml</div>
					<div style="font-size: 11px; color: red;">七天退换</div>
					<div style="text-align: right;">
						<div style="font-size: 13px; padding-right: 5px;">¥<span ng-bind="orderDetail.productInfo.price"></span> x <span ng-bind="orderDetail.count"></span></div>
					</div>
				</div>
			</div>
		</div>
		</div>

		<!-- 留言、下单时间 -->
		<div style="width: 100%; background-color: white; margin-top: 10px;">
			<div ng-show="order.memo.length > 0">
				<div style="padding: 10px; font-size: 13px; color: #888888;">留言：<span ng-bind="order.memo"></span></div>
				<div style="height: 0.5px; background-color: #F3F3F3;"></div>
			</div>
			<div style="padding: 10px; font-size: 13px; color: #888888;">下单时间：{{model.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</div>
		</div>

		<div style="height: 10px;"></div>
		<!-- 订单花费明细 -->
		<div style="width: 100%; background-color: white;">
			<div style="padding:10px; font-size: 14px; color: #333333;">
				<div>
					<div style="float: left;">订单总价</div>
					<div style="float: right;">¥<span ng-bind="order.amount"></span></div>
					<div style="clear: both;"></div>
				</div>
				<div style="padding-top: 5px;" ng-show="order.coupon_id > 0 && order.status > 0">
					<div style="float: left;">使用优惠券</div>
					<div style="float: right; color: red;">- ¥<span ng-bind="order.couponInfo.price"></span></div>
					<div style="clear: both;"></div>
				</div>
				<div style="padding-top: 5px;">
					<div style="float: left;">实际支付</div>
					<div style="float: right; color: red;">¥<span ng-bind="order.pay"></span></div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<div style="height: 10px;"></div>
		<!-- 积分、联系客服 -->
		<div ng-show="order.point > 0" style="width: 100%; background-color: white; padding: 10px 10px 0px 10px; font-size: 13px;">
			<div style="color: #888888; padding-bottom: 10px;">返积分<span style="color: red;" ng-bind="order.point"></span>点</div>
			<div style="height: 0.5px; background-color: #F3F3F3;"></div>
		</div>

		<div style="padding: 10px; font-size: 13px; background-color: white; ">
			<div style="font-size: 13px; color: #888888; text-align: center;"><img src="img/phone.png" style="width: 15px;" />&nbsp;&nbsp;联系客服MM</div>
		</div>
		<div style="height: 60px;"></div>
		
		<div class="bottom-bar">
			<div ng-switch on="order.status">
				<div ng-switch-when="0">
					<span ng-click="payAction(order)">去支付</span>
				</div>
				<div ng-switch-when="1">
					等待卖家发货
				</div>
				<div ng-switch-when="2">
					<span ng-click="makeSureAction()">确认收货</span>
				</div>
				<div ng-switch-when="3">
					订单已完成
				</div>
				<div ng-switch-when="4">
					订单已取消
				</div>
			</div>
		</div>

	</body>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="com/global.js"></script>
	<script type="text/javascript" src="order_detail.js"></script>

</html>