<!DOCTYPE html>
<html ng-app="wine" ng-controller="order">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="shortcut icon" href="">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<link rel="stylesheet" href="css/default.css" />
		<link rel="stylesheet" href="css/mui.min.css" />
		<title>确认订单</title>
		<link rel="stylesheet" href="order.css" />
		<link rel="stylesheet" href="cart.css" />
	</head>

	<body>
		<!--底部tabbar-->
		<nav class="mui-bar mui-bar-tab">
			<div class="mui-tab-item" style="color: black; width: 60%; text-align: right; padding-right: 10px;">
				<span class="mui-tab-label">实付款:¥<span ng-bind="pay"></span> </span>
			</div>
			<a class="mui-tab-item" style="width: 40%; background-color: red; color: white;" href="#wxPay">
				<span class="mui-tab-label">结算</span>
			</a>
		</nav>
		<div class="mui-content">
			<a ng-show="!hasConsignee" href="addresslist.html?oid={{guid}}">
				<div style="height: 5px;"></div>
				<div style="padding: 5px 10px 5px 35px; line-height: 35px; background-color: white; font-size: 14px; color: #333; background-image: url(img/add.png); background-repeat: no-repeat; background-size: 20px 20px; background-position: 10px center;">
					新增收货地址
				</div>
			</a>

			<ul ng-show="hasConsignee" class="mui-table-view mui-table-view-striped mui-table-view-condensed" ng-click="gotoAddress()">
				<li class="mui-table-view-cell">
					<div class="mui-table">
						<div class="mui-table-cell mui-col-xs-10">
							<p><img src="img/address.png" width="18px" height="16px" style="vertical-align: middle;" /><span ng-bind="addressInfo.name "></span><span style="float: right;" ng-bind="addressInfo.tel"></span></p>
							<h4 class="address" ng-bind="addressInfo.address"></h4>
							<div class="clear"></div>
						</div>
						<div class="mui-table-cell mui-col-xs-2 mui-text-right" style="width: 20px; vertical-align:middle;">
							<img src="img/arrow.png" style="width: 20px; height: 20px;" />
						</div>
					</div>
				</li>
			</ul>
			<div class="clear"></div>
			<div style="height: 2px; background-image: url(img/border.png); background-size: 34px 2px;">
			</div>
			<div style="height: 5px;"></div>
			<div class="borderDiv" ng-repeat="row in cartArray">
				<div class="cartCell">
					<table width="100%">
						<tr>
							<td rowspan="4" width="80px" style="background-image: url({{row.productInfo.image}}); background-repeat: no-repeat; background-size: 100% 100%;"></td>
							<td>
								<div class="cartMiddleCell">
									<div>
										<span ng-bind="row.productInfo.title"></span>
									</div>
									<div class="clear"></div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="cartVintage">
									容量：<span ng-bind="row.productInfo.volume"></span>ml
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="cartRightCell">
									<span class="cartPrice">¥<span ng-bind="row.productInfo.price"></span></span>
									<div class="cartNum">
										X <span ng-bind="row.count"></span>
									</div>
									<div class="clear"></div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="orderPriceCell">
				<div>商品金额<span class="price">¥<span ng-bind="order.amount"></span></span></div>
				<!--<div class="second">运费
					<span class="weight">（总重：7.330kg）</span>
					<span class="price">+¥0.00</span>
				</div>-->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/mui.min.js"></script>
	<script type="text/javascript" src="com/global.js"></script>
	<script type="text/javascript" src="order.js"></script>

</html>